<div id="<%= dom_id(post)%>" class="card mb-4">
  <div class="card-header d-flex justify-content-between">
    <div>
      <h4 class="my-auto">
        <%= post.title %>
        <%= link_to ('<i class="fas fa-link fa-xs"></i>').html_safe, post  %>
        <%= link_to ('<i class="fas fa-edit fa-xs"></i>').html_safe, edit_post_path(post), class: 'link-success' %>
        <!-- https://stackoverflow.com/questions/31419317/linking-font-awesome-icon-to-rails-attribute -->
        <%= link_to ('<i class="fas fa-trash fa-xs"></i>').html_safe, post, method: :delete, data: { confirm: 'You are about to delete a post. Are you sure?' }, class: 'link-danger' %>
      </h4>
    </div>
    <% unless post.comments.empty? %>
      <div class="fw-light">
        <%= post.comments.size %> <%= 'comment'.pluralize(post.comments.size) %>
      </div>
    <% end %>
  </div>
  <div class="card-header">
    <%= render 'date', post: post %>
  </div>
  <div class="card-body">
    <%= post.content %>
  </div>
</div>