<h1>Posts</h1>

<% if @posts.empty? %>
  <p class="mb-3">No posts have been created yet.</p>
<% else %>
  <% @posts.each do |post| %>
    <h2><%= post.title %></h2>
    <p><%= post.opening %></p>
    <%= link_to 'Show', post, class: 'btn btn-primary' %>
    <%= link_to 'Edit', edit_post_path(post), class: 'btn btn-secondary' %>
    <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
  <% end %>
<% end %>

<br/>
<%= link_to 'New Post', new_post_path, class: 'btn btn-primary mt-3' %>
