<p id="notice"><%= notice %></p>

<section align="center">
<h1>Vlad's Blog.</h1>
 
<hr>

<h3><%= @post.title %></h3>
<% if @post.imageSrc.length > 0 %>
	<img src="<%= @post.imageSrc %>"/>
<% end %>
<p><%= simple_format(@post.content) %></p>

<br>

<%= link_to 'Back', posts_path %>
</section>
