<h2 class="white-text inline">Posts</h2>

<div class="row badge-create">
 <div class="center"><i class="fas fa-plus"></i>
<%= link_to ' Create Post', new_post_path %>

 </div>
</div>
<br class="clearBoth" />

</br>
</br>
</br>

<% @posts.each do |post| %>
  <div class="row">
    <div class="row blue-grey lighten-5 block-post">
      <div class="row right-align">
        <%= link_to 'Show', post %> |
        <%= link_to 'Edit', edit_post_path(post) %> |
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>             
      <div class="row blue-grey-text"><h5><%= post.title %></h5></div>
      <div class="row post-body"><%= post.content %></div> 
      <%= link_to '... Read More', post %>
    </div>
  </div>
<% end %>
<br>


