<div class="container">
    <div class = "content">
      <div class="header">
        <h2><%= @post.title %></h2>
      </div>
      <div class="body">
        <p>
        <%= @post.content %>
        </p>
        <% if @post.user_id == current_user.id %>
        <div class="post-options">
          <%= link_to @post, method: :delete, data: { confirm: "Are you sure you want to delete this post?" } do %>
            <span class="delete"><i class="fa fa-trash-o"></i></span>
          <% end %>
          <%= link_to edit_post_path(@post), class: "level-item" do %>
            <span class="edit"><i class="fa fa-pencil"></i></span>
          <% end %>
        </div>
      <% end %>
        <div class="comment-section">
        <p class="comment-amount">Comments (<%= @post.comments.length %>) </p>
        <%= render partial: 'posts/comment', collection: @post.comments %>
        <%= render partial: 'comments/form' %>
        </div>
      </div>
    </div>
  </div>

