<div class="container-show">
	<i class="fas fa-angle-left"></i>
	<%= link_to 'Back', posts_path %>
	</br>
	</br>

	<!-- post -->
	<div class="row blue-grey lighten-5 block-post">
	      <div class="row right-align">
	        <%= link_to 'Edit', edit_post_path(@post) %> |
	        <%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
	      </div>             
	      <div class="row blue-grey-text"><h5><%= @post.title %></h5></div>
	      <div class="row"><%= @post.content %></div>   
	</div>

	<!-- like and dislike post -->
	<form action="/posts/<%=@post.id%>/update_like" method="post" class="button_likes like_form">
		<button type="submit" class="thumb-up">
	    <i class="far fa-thumbs-up thumbs"></i> <%=@post.likes%>
		</button>
	</form>

	<form action="/posts/<%=@post.id%>/update_dislike" method="post" class="button_likes">
		<button type="submit" class="thumb-down">
	    <i class="far fa-thumbs-down thumbs"></i> <%=@post.dislikes%>
		</button>
	</form>

	</br>
	</br>

	<div class="row blue-grey lighten-3 block-post">
	<%= @post.comments.count %> comments
	<%= render @post.comments %>
	<%= render "comments/new" %>
	</div>


</div>
</br>
</br>
</br>




