<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- CSS -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- JavaScript -->
    <%= tag :meta, name: :psj, action: action_name, controller: controller_name %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- materialize librairy -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- materialize icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- awesome font for icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

  </head>

  <body class="#607d8b blue-grey lighten-2">
  
  <div class="row">
  <!-- grid on 12 columns 2 - 8 [1-10-1]- 2 -->
    <div class="col s2"></div>
    <div class="col s8 runner">
  <!--     display flas messages for all the views -->
    <% if flash[:error] -%>
      <p class='error'><%=h flash[:error] %></p>
    <% end -%>
    <% if flash[:notice] -%>
      <p class='notice'><%=h flash[:notice] %></p>
    <% end -%>
      <!-- fake background  -->
      <div class="col s1"></div>
      <!-- runner -->
      <div class="col s10">
        <div class="right">
          <!-- display sign in / sign up / logout depending on the need -->
          <% if !current_user %>
          <a href="/signup" class="blanc">Sign Up</a> | 
          <a href="/login" class="blanc">Sign In</a> |
          <% end %>
          <% if current_user %>
          <a href="/logout" class="blanc">Logout</a>
          <% end %>
        </div>
        </br>
      <!-- all the views displayed here  --> 
      <%= yield %>

      </div>
      <div class="col s1"></div>
    </div>

    <div class="col s2"></div>
  </div>
  </body>

</html>
