<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="alert-container">
      <div class="alert-bar">
        <p class="alert"><%= alert %></p>
      </div>
    </div>
    <nav>
      <div class="navbar">
        <div class="nav-right">
          <% if user_signed_in? %>
            <div>
            <%= link_to edit_user_registration_path do %>
              <span>
                <i class="fa fa-wrench fa-2x" aria-hidden="true"></i>
              </span>
            <% end %>
          </div>
          <div>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <span>
                <i class="fa fa-sign-out fa-2x" aria-hidden="true"></i>
              </span>
            <% end %>
          </div>
          <% end %>
        </div>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
