<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- materialize librairy -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    
  </head>

  <body class="#607d8b blue-grey lighten-2">
  <p id="notice"><%= notice %></p>
  <div class="row">
    <div class="col s3"></div>
    <div class="col s6">

      <%= yield %>

    </div>
    <div class="col s3"></div>
  </div>
  </body>
  
</html>
