<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- materialize librairy -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- materialize icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- awesome font for icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

  

  </head>

  <body class="#607d8b blue-grey lighten-2">
  
  <div class="row">
    <div class="col s2"></div>

    <div class="col s8 runner">
    <p id="notice"><%= notice %></p> 
    <div class="right"><a href="/signup" class="blanc">Sign Up</a> | <a href="/login" class="blanc">Sign In</a></div>
      <div class="col s1"></div>
      <div class="col s10">

      <%= yield %>

      </div>
      <div class="col s1"></div>
    </div>

    <div class="col s2"></div>
  </div>
  </body>

</html>
