<div class="container">
  <div class="content">
    <div class="header">
      <h2>Forgot your password?</h2>
    </div>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="form-body">
        <div class="field">
          <div class="label-input">
            <div class="form-section">
              <%= f.label :email %><br />
            </div>
            <div class="form-section">
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>
          </div>
        </div>

        <div class="actions">
          <%= f.button "Send me reset password instructions", type: "submit" %>
        </div>
      <% end %>
      </div>
  </div>
</div>

<%= render "devise/shared/links" %>
