<div class="container">
  <div class="content">
    <div class="header">
      <h2>Edit <%= resource_name.to_s.humanize %></h2>
    </div>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <div class="form-body">
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="field">
          <div class="label-input">
            <div class="form-section">
              <%= f.label :email %><br />
            </div>
            <div class="form-section">
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>
          </div>
        </div>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
        <div class="field">
          <div class="label-input">
            <div class="form-section">
              <%= f.label :password %> <br />
            </div>
            <div class="form-section">
              <%= f.password_field :password, autocomplete: "new-password" %>
            </div>
            <% if @minimum_password_length %>
              <br />
              <em><%= @minimum_password_length %> characters minimum</em>
            <% end %>
          </div>
        </div>
        <div class="field">
          <div class="label-input">
            <div class="form-section">
              <%= f.label :password_confirmation %><br />
            </div>
            <div class="form-section">
              <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
            </div>
          </div>
        </div>
        <div class="field">
          <div class="label-input">
            <div class="form-section">
              <%= f.label :current_password %><br />
            </div>
            <div class="form-section">
              <%= f.password_field :current_password, autocomplete: "current-password" %>
            </div>
          </div>
        </div>
        <div class="actions">
          <%= f.button "Update", type: "Submit" %>
        </div>
      <% end %>
      <%= button_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, id: "dangerous-button"%>
      </div>
  </div>
</div>
